.recall {
  width: 100%;
  position: relative;
  margin-top: 50px;
  padding-top: 64px;
  padding-bottom: 56px;
  background: #f2f8ff;
}

.recall__container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.recall_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
  max-width: 750px;
}

.recall-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  color: #454f5b;
  max-width: 500px;
}

.recall-inputs {
  display: flex;
  width: 100%;
  gap: 24px;

  &>* {
    flex: 1;
  }

  .recall-input {
    background: rgba(22, 28, 36, 0.04);
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: #454f5b;
    padding: 12px 16px;
    border: 1px solid transparent;
    transition: 0.3s;

    &:hover {
      border: 1px solid #4295e4;
    }

    &:focus-visible {
      outline: none;
      border: 1px solid #4295e4;
    }
  }
}

.recall-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  color: #fff;
  transition: 0.3s;
  background: #4295e4;
  padding: 12px 0;
  display: flex;
  justify-content: center;
  border: 1px solid transparent;

  &:hover {
    color: #4295e4;
    background: white;
    border-color: #4295e4;
  }
}


@media (max-width:640px) {
  .recall {
    margin-top: 16px;
    padding: 32px 0;
  }

  .recall_content {
    gap: 16px;
  }

  .recall-inputs {
    padding-top: 8px;
    flex-direction: column;
    gap: 16px;
  }
}

@media (max-width:480px) {

  .recall-subtitle {
    font-size: 14px;
    line-height: 171%;
  }

  .recall-inputs .recall-input {
    font-size: 14px;
    line-height: 171%;
  }
}
