.stats {
  width: 100%;
  background: #f2f8ff;
  margin-bottom: 50px;
}

.stats__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  gap: 82px;

  .stat {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;

    .stat-count {
      font-weight: 600;
      font-size: 32px;
      line-height: 119%;
      color: #161c24;
    }

    .stat-desc {
      font-weight: 600;
      font-size: 16px;
      line-height: 162%;
      color: #454f5b;
    }
  }
}


@media (max-width:640px) {
  .stats__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 20px;
    padding: 30px 0;
  }

  .stats {
    margin-bottom: 20px;
  }

  .stats__container .stat .stat-count {
    font-weight: 600;
    font-size: 24px;
    line-height: 142%;
    color: #161c24;
  }

  .stats__container .stat .stat-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #454f5b;
  }

  .stats__container .stat{
    gap: 8px;
  }

}
