.why {
  width: 100%;
  position: relative;
  padding: 50px 0;
}

.why_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.section-title {
  font-weight: 600;
  font-size: 44px;
  line-height: 141%;
  color: #161c24;
  text-align: center;
}

.why-cards-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  .why-card {
    border-left: 1px solid #c4cdd5;
    border-right: 1px solid #c4cdd5;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;

    .why__text {
      font-weight: 400;
      font-size: 20px;
      line-height: 160%;
      text-align: center;
      color: #454f5b;
    }

    .why__card-icon {
      height: auto;
      width: 25%;
    }
  }
}

@media (max-width:640px) {
  .why {
    padding: 20px 0;
  }

  .why_container {
    gap: 24px 0;
  }

  .why-cards-block {
    display: flex;
    flex-direction: column;

    .why-card {
      border-left: none;
      border-right: none;
      border-top: 1px solid #c4cdd5;
      border-bottom: 1px solid #c4cdd5;
      padding: 24px 28px;
      gap: 16px;

      .why__text {
        font-weight: 600;
        font-size: 20px;
        line-height: 162%;
        text-align: center;
        color: #454f5b;
      }
    }
  }
}

@media (max-width:480px){
  .section-title{
    font-size: 22px;
  }

  .why-cards-block .why-card .why__text{
    font-size: 16px;
  }
}
