<section class="category">
  <div class="container">
    <div class="category__container">
      <h2 class="section-title">Категории</h2>
      <div class="category-cards-block">
        <div class="category-card">
          <div class="card-title">
            <p class="title-text">Для отелей</p>
            <a href="#" class="category-link">Перейти</a>
          </div>
          <div class="card-img">
            <img src="./img/lock-category-1.jpg" alt="Замок">
          </div>
        </div>
        <div class="category-card">
          <div class="card-title">
            <p class="title-text">Для шкафчиков</p>
            <a href="#" class="category-link">Перейти</a>
          </div>
          <div class="card-img">
            <img src="./img/lock-category-2.jpg" alt="Замок">
          </div>
        </div>
        <div class="category-card">
          <div class="card-title">
            <p class="title-text">Для офисов</p>
            <a href="#" class="category-link">Перейти</a>
          </div>
          <div class="card-img">
            <img src="./img/lock-category-3.jpg" alt="Замок">
          </div>
        </div>
        <div class="category-card">
          <div class="card-title">
            <p class="title-text">Замки для дома</p>
            <a href="#" class="category-link">Перейти</a>
          </div>
          <div class="card-img">
            <img src="./img/lock-category-4.jpg" alt="Замок">
          </div>
        </div>
      </div>
      <a href="#" class="all-category">Все категории</a>
    </div>
  </div>
</section>
