<section class="category-main">
  <div class="container">
    <div class="category-main__container">
      <div class="nav-block">
        <a href="index.html" class="main-link">Главная</a>
        <span class="slash">/</span>
        <p class="here-page">Каталог</p>
      </div>
      <h2 class="section-title">Категории</h2>
      <div class="category-cads">
        <a href="#" class="card-item">
          <div class="item__img-container">
            <img src="./img/lock-category-5.jpg" alt="Замок">
          </div>
          <p class="item-text">Накладные электронные замки</p>
        </a>
        <a href="#" class="card-item">
          <div class="item__img-container">
            <img src="./img/lock-category-6.jpg" alt="Замок">
          </div>
          <p class="item-text">Врезные электроные замки</p>
        </a>
        <a href="#" class="card-item">
          <div class="item__img-container">
            <img src="./img/lock-category-7.jpg" alt="Замок">
          </div>
          <p class="item-text">Замки для квартиры</p>
        </a>
        <a href="#" class="card-item">
          <div class="item__img-container">
            <img src="./img/lock-category-4.jpg" alt="Замок">
          </div>
          <p class="item-text">Замки для квартиры</p>
        </a>
        <a href="#" class="card-item">
          <div class="item__img-container">
            <img src="./img/lock-category-1.jpg" alt="Замок">
          </div>
          <p class="item-text">Замки для отелей</p>
        </a>
        <a href="#" class="card-item">
          <div class="item__img-container">
            <img src="./img/lock-category-3.jpg" alt="Замок">
          </div>
          <p class="item-text">Замки для отелей</p>
        </a>
        <a href="#" class="card-item">
          <div class="item__img-container">
            <img src="./img/lock-category-2.jpg" alt="Замок">
          </div>
          <p class="item-text">Замки для шкафчиков</p>
        </a>
        <a href="#" class="card-item">
          <div class="item__img-container">
            <img src="./img/lock-category-8.jpg" alt="Замок">
          </div>
          <p class="item-text">Замки для раздевалок</p>
        </a>
      </div>
      <button class="view-all-category">Смотреть все</button>
    </div>
  </div>
</section>
