<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <div class="footer__content">
        <div class="footer__logo-social">
          <div class="footer-logo">
            <img loading="lazy" src="./img/logo-footer.svg" class="img-contain" width="105" height="88" alt="Логотип">
          </div>
          <ul class="social list-reset">
            <li class="social__item">
              <a href="#" class="social__link">
                <img loading="lazy" src="./img/vk.svg" class="img-contain" width="26" height="26" alt="">
              </a>
            </li>
            <li class="social__item">
              <a href="#" class="social__link">
                <img loading="lazy" src="./img/twitter.svg" class="img-contain" width="26" height="26" alt="">
              </a>
            </li>
            <li class="social__item">
              <a href="#" class="social__link">
                <img loading="lazy" src="./img/facebook.svg" class="img-contain" width="26" height="26" alt="">
              </a>
            </li>
          </ul>
        </div>

        <div class="footer__link-content">
          <div class="link-group">
            <div class="group-item">
              <p class="group-title">Навигация</p>
              <a href="index.html" class="item-link">Главная</a>
              <a href="category.html" class="item-link">Каталог</a>
              <a href="#" class="item-link">Оптовая продажа</a>
              <a href="#" class="item-link">О нас</a>
            </div>
            <div class="group-item">
              <p class="group-title">Наши контакты</p>
              <p class="group-subtitle">Телефоны</p>
              <a href="tel:+79885650038" class="item-link">+7 (988) 565 00 38</a>
              <a href="tel:+375336628256" class="item-link">+375 33 662 82 56</a>
              <p class="group-subtitle">Email</p>
              <a href="mailto:vladpertcev@mail.ru" class="item-link">vladpertcev@mail.ru</a>
              <a href="mailto:korobko416@gmail.com" class="item-link">korobko416@gmail.com</a>
            </div>
          </div>
          <div class="link-group">
            <div class="group-item address">
              <p class="group-title">Наш адрес</p>
              <a href="#" class="item-link">Россия, Ростов-на-Дону ул. Богачева, 16</a>
            </div>
            <div class="group-item">
              <p class="group-title">Информация</p>
              <a href="#" class="item-link">Доставка и оплата</a>
              <a href="#" class="item-link">Гарантии</a>
              <a href="#" class="item-link">Возврат товара</a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__copyright">
        <p class="copyright-text">© 2021 Golden Soft All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
