<header class="header">
  <div class="header-head">
    <div class="container">
      <div class="header-head__container">
        <p class="sale-text">Скидка 10% по промокоду “ZAMOK” на все заказы до 10.09</p>
        <a href="index.html#recall" class="recall-link">Обратный звонок</a>
      </div>
    </div>
  </div>
  <div class="box-shadow_bottom">
    <div class="container">
      <div class="header__container">
        <button class="btn-reset burger" data-burger>
          <span class="burger__line"></span>
        </button>
        <a href="index.html" class="header-logo">
          <img loading="lazy" src="./img/logo.svg" class="img-contain" width="50" height="42" alt="Логотип">
        </a>
        <div class="nav-menu" data-menu>
          <nav class="nav">
            <ul class="list-reset nav__list">
              <li class="nav__item"><a href="index.html" class="nav__link">Главная</a></li>
              <li class="nav__item drop-down">
                <a href="category.html" class="nav__link">
                  <p class="nav__link-text">Каталог</p>
                  <div class="nav__link-arrow">
                    <img loading="lazy" src="./img/arrow.svg" class="img-contain" width="12" height="7" alt="Стрелочка">
                  </div>
                </a>
                <div class="catalog-menu">
                  <div class="catalog__head">
                    <button class="btn-reset close-catalog-menu">
                      <svg class="arrow-left-icon">
                        <use xlink:href="img/sprite.svg#arrow-left"></use>
                      </svg>
                    </button>
                    <p class="catalog__head-title">Каталог</p>
                  </div>
                  <div class="catalog-menu__container">
                    <div class="catalog-menu__text-content">
                      <div class="catalog-menu__item">
                        <a href="#" class="catalog-menu__link">
                          <p class="catalog-menu__link-text">Накладные электронные замки</p>
                          <div class="category-menu__img">
                            <img src="./img/lock-category-5.jpg" class="img-contain" alt="Замок">
                          </div>
                        </a>
                      </div>
                      <div class="catalog-menu__item">
                        <a href="#" class="catalog-menu__link">
                          <p class="catalog-menu__link-text">Врезные электронные замки</p>
                          <div class="category-menu__img">
                            <img src="./img/lock-category-6.jpg" class="img-contain" alt="Замок">
                          </div>
                        </a>
                      </div>
                      <div class="catalog-menu__item">
                        <a href="#" class="catalog-menu__link">
                          <p class="catalog-menu__link-text">Замки для квартиры</p>
                          <div class="category-menu__img">
                            <img src="./img/lock-category-7.jpg" class="img-contain" alt="Замок">
                          </div>
                        </a>
                      </div>
                      <div class="catalog-menu__item">
                        <a href="#" class="catalog-menu__link">
                          <p class="catalog-menu__link-text">Замки для дома</p>
                          <div class="category-menu__img">
                            <img src="./img/lock-category-4.jpg" class="img-contain" alt="Замок">
                          </div>
                        </a>
                      </div>
                      <div class="catalog-menu__item">
                        <a href="#" class="catalog-menu__link">
                          <p class="catalog-menu__link-text">Замки для отелей</p>
                          <div class="category-menu__img">
                            <img src="./img/lock-category-1.jpg" class="img-contain" alt="Замок">
                          </div>
                        </a>
                      </div>
                      <div class="catalog-menu__item">
                        <a href="#" class="catalog-menu__link">
                          <p class="catalog-menu__link-text">Замки для офиса</p>
                          <div class="category-menu__img">
                            <img src="./img/lock-category-3.jpg" class="img-contain" alt="Замок">
                          </div>
                        </a>
                      </div>
                      <div class="catalog-menu__item">
                        <a href="#" class="catalog-menu__link">
                          <p class="catalog-menu__link-text">Замки для шкафчиков</p>
                          <div class="category-menu__img">
                            <img src="./img/lock-category-2.jpg" class="img-contain" alt="Замок">
                          </div>
                        </a>
                      </div>
                      <div class="catalog-menu__item">
                        <a href="#" class="catalog-menu__link">
                          <p class="catalog-menu__link-text">Замки для раздевалок</p>
                          <div class="category-menu__img">
                            <img src="./img/lock-category-8.jpg" class="img-contain" alt="Замок">
                          </div>
                        </a>
                      </div>
                    </div>
                    <a href="category.html" class="catalog-menu__all-categoryes">Смотреть все</a>
                  </div>
                </div>
            </li>
              <li class="nav__item"><a href="#" class="nav__link">Оптовая продажа</a></li>
              <li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
            </ul>
          </nav>
          <div class="mobile-container-link">
            <a href="tel:+79665588499" class="phone">
              <div class="phone__icon">
                <img loading="lazy" src="./img/phone.svg" class="img-contain" width="20" height="20" alt="Телефон">
              </div>
              <p class="phone__number">+7 (966) 55 88 499</p>
            </a>
            <a href="index.html#recall" class="recall-link-burger">Обратный звонок</a>
          </div>
        </div>
        <div class="right-block">
          <div class="nav-icon-links">
            <a href="#" class="icon-link">
              <div class="img-icon">
                <img loading="lazy" src="./img/heart.svg" class="img-contain" width="25" height="23" alt="Сердечко">
              </div>
            </a><a href="#" class="icon-link">
              <div class="img-icon">
                <img loading="lazy" src="./img/cart.svg" class="img-contain" width="25" height="23" alt="Корзина">
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
