<section class="hero">
  <div class="container">
    <div class="swiper hero_swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide-hero">
          <div class="slide-img">
            <img src="./img/lock-hero-1.jpg" alt="Дверной замок">
          </div>
          <div class="slide__text-content">
            <h1 class="slide-title">Golden Soft<br>GS-200Z-5 для офиса</h1>
            <div class="slide-description">
              <div class="description-text-block">
                <p class="description-text">Замок дверной электронный Golden Soft GS-200Z-5 имеет роскошный глянцевый блеск, четкие линии, красивые формы.</p>
                <p class="description-text">Подходит для установки на деревянную/межкомнатную дверь.</p>
              </div>
              <div class="buy-block">
                <div class="buy-cost-block">
                  <p class="buy-cost">Цена</p>
                  <div class="buy-cost-value">
                    <p class="cost-value">33 000₽</p>
                    <p class="cost-value old">37 000₽</p>
                  </div>
                </div>
                <button class="btn-reset btn-buy">Добавить в корзину</button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-hero">
          <div class="slide-img">
            <img src="./img/lock-hero-1.jpg" alt="Дверной замок">
          </div>
          <div class="slide__text-content">
            <h1 class="slide-title">Golden Soft<br>GS-200Z-5 для офиса</h1>
            <div class="slide-description">
              <div class="description-text-block">
                <p class="description-text">Замок дверной электронный Golden Soft GS-200Z-5 имеет роскошный глянцевый блеск, четкие линии, красивые формы.</p>
                <p class="description-text">Подходит для установки на деревянную/межкомнатную дверь.</p>
              </div>
              <div class="buy-block">
                <div class="buy-cost-block">
                  <p class="buy-cost">Цена</p>
                  <div class="buy-cost-value">
                    <p class="cost-value">33 000₽</p>
                    <p class="cost-value old">37 000₽</p>
                  </div>
                </div>
                <button class="btn-reset btn-buy">Добавить в корзину</button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-hero">
          <div class="slide-img">
            <img src="./img/lock-hero-1.jpg" class="img-contain" alt="Дверной замок">
          </div>
          <div class="slide__text-content">
            <h1 class="slide-title">Golden Soft<br>GS-200Z-5 для офиса</h1>
            <div class="slide-description">
              <div class="description-text-block">
                <p class="description-text">Замок дверной электронный Golden Soft GS-200Z-5 имеет роскошный глянцевый блеск, четкие линии, красивые формы.</p>
                <p class="description-text">Подходит для установки на деревянную/межкомнатную дверь.</p>
              </div>
              <div class="buy-block">
                <div class="buy-cost-block">
                  <p class="buy-cost">Цена</p>
                  <div class="buy-cost-value">
                    <p class="cost-value">33 000₽</p>
                    <p class="cost-value old">37 000₽</p>
                  </div>
                </div>
                <button class="btn-reset btn-buy">Добавить в корзину</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-nav">
        <div class="swiper-btn hero-prev-btn">
          <svg class="arrow-left-icon">
            <use xlink:href="img/sprite.svg#arrow-left"></use>
          </svg>
        </div>
        <div class="hero-pagination"></div>
        <div class="swiper-btn hero-next-btn">
          <svg class="arrow-right-icon">
            <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
