<div class="popup" id="modal">
  <div class="popup__body">
    <div class="popup__content">
      <div class="popup__img">
        <img loading="lazy" src="./img/popup-check.svg" class="img-contain" width="92" height="92" alt="Галочка">
      </div>
      <div class="popup__text">
        <p class="popup__title">Ваша заявка успешно принята</p>
        <p class="popup__subtitle">Porttitor vitae ornare aliquet euismod nunc, tincidunt. In non elementum, ornare elementum nisi egestas vel ut. </p>
      </div>
      <button class="btn-reset close__popup">Хорошо</button>
    </div>
  </div>
</div>
