<section class="popular-product">
  <div class="container">
    <div class="popular-product__container">
      <h2 class="section-title">Наши популярные продукты</h2>
      <div class="swiper popular-product__swiper">
        <div class="swiper-wrapper">
           <div class="swiper-slide popular-product__item">
            <div class="item__img">
              <img src="./img/popular-product-1.jpg" alt="Замок">
              <div class="content-on-img">
                <div class="content-on-img__up-container">
                  <div class="item__is-contain">
                    <div class="is-contain-icon">
                      <img loading="lazy" src="./img/check.svg" class="img-contain" width="20" height="20" alt="Галочка">
                    </div>
                    <p class="is-contain-text">В наличии</p>
                  </div>
                  <div class="item__sale">
                    <p class="sale-text">SALE</p>
                  </div>
                </div>
                <div class="item__gift">
                  <div class="gift-icon">
                    <img loading="lazy" src="./img/gift.svg" class="img-contain" width="12" height="12" alt="Подарок">
                  </div>
                  <p class="gift-text">Подарок</p>
                </div>
              </div>
            </div>
            <div class="item__text-content">
              <p class="item_title">Дверной Замок Golden Soft для отеля</p>
              <div class="item__cost-block">
                <p class="item__cost-value">33 000₽</p>
                <p class="item__cost-value old">37 000₽</p>
              </div>
            </div>
           </div>
           <div class="swiper-slide popular-product__item">
            <div class="item__img">
              <img src="./img/popular-product-2.jpg" alt="Замок">
              <div class="content-on-img">
                <div class="content-on-img__up-container">
                  <div class="item__is-contain">
                    <div class="is-contain-icon">
                      <img loading="lazy" src="./img/cross.svg" class="img-contain" width="20" height="20" alt="Галочка">
                    </div>
                    <p class="is-contain-text">Нет в наличии</p>
                  </div>
                  <div class="item__sale">
                    <p class="sale-text">SALE</p>
                  </div>
                </div>
                <div class="item__gift">
                  <div class="gift-icon">
                    <img loading="lazy" src="./img/gift.svg" class="img-contain" width="12" height="12" alt="Подарок">
                  </div>
                  <p class="gift-text">Подарок</p>
                </div>
              </div>
            </div>
            <div class="item__text-content">
              <p class="item_title">Дверной Замок Golden Soft для отеля</p>
              <div class="item__cost-block">
                <p class="item__cost-value">33 000₽</p>
                <p class="item__cost-value old">37 000₽</p>
              </div>
            </div>
           </div>
           <div class="swiper-slide popular-product__item">
            <div class="item__img">
              <img src="./img/popular-product-1.jpg" alt="Замок">
              <div class="content-on-img">
                <div class="content-on-img__up-container">
                  <div class="item__is-contain">
                    <div class="is-contain-icon">
                      <img loading="lazy" src="./img/check.svg" class="img-contain" width="20" height="20" alt="Галочка">
                    </div>
                    <p class="is-contain-text">В наличии</p>
                  </div>
                  <div class="item__sale">
                    <p class="sale-text">SALE</p>
                  </div>
                </div>
                <div class="item__gift">
                  <div class="gift-icon">
                    <img loading="lazy" src="./img/gift.svg" class="img-contain" width="12" height="12" alt="Подарок">
                  </div>
                  <p class="gift-text">Подарок</p>
                </div>
              </div>
            </div>
            <div class="item__text-content">
              <p class="item_title">Дверной Замок Golden Soft для отеля</p>
              <div class="item__cost-block">
                <p class="item__cost-value">33 000₽</p>
                <p class="item__cost-value old">37 000₽</p>
              </div>
            </div>
           </div>
           <div class="swiper-slide popular-product__item">
            <div class="item__img">
              <img src="./img/popular-product-1.jpg" alt="Замок">
              <div class="content-on-img">
                <div class="content-on-img__up-container">
                  <div class="item__is-contain">
                    <div class="is-contain-icon">
                      <img loading="lazy" src="./img/check.svg" class="img-contain" width="20" height="20" alt="Галочка">
                    </div>
                    <p class="is-contain-text">В наличии</p>
                  </div>
                  <div class="item__sale">
                    <p class="sale-text">SALE</p>
                  </div>
                </div>
                <div class="item__gift">
                  <div class="gift-icon">
                    <img loading="lazy" src="./img/gift.svg" class="img-contain" width="12" height="12" alt="Подарок">
                  </div>
                  <p class="gift-text">Подарок</p>
                </div>
              </div>
            </div>
            <div class="item__text-content">
              <p class="item_title">Дверной Замок Golden Soft для отеля</p>
              <div class="item__cost-block">
                <p class="item__cost-value">33 000₽</p>
                <p class="item__cost-value old">37 000₽</p>
              </div>
            </div>
           </div>
           <div class="swiper-slide popular-product__item">
            <div class="item__img">
              <img src="./img/popular-product-1.jpg" alt="Замок">
              <div class="content-on-img">
                <div class="content-on-img__up-container">
                  <div class="item__is-contain">
                    <div class="is-contain-icon">
                      <img loading="lazy" src="./img/check.svg" class="img-contain" width="20" height="20" alt="Галочка">
                    </div>
                    <p class="is-contain-text">В наличии</p>
                  </div>
                  <div class="item__sale">
                    <p class="sale-text">SALE</p>
                  </div>
                </div>
                <div class="item__gift">
                  <div class="gift-icon">
                    <img loading="lazy" src="./img/gift.svg" class="img-contain" width="12" height="12" alt="Подарок">
                  </div>
                  <p class="gift-text">Подарок</p>
                </div>
              </div>
            </div>
            <div class="item__text-content">
              <p class="item_title">Дверной Замок Golden Soft для отеля</p>
              <div class="item__cost-block">
                <p class="item__cost-value">33 000₽</p>
                <p class="item__cost-value old">37 000₽</p>
              </div>
            </div>
           </div>
           <div class="swiper-slide popular-product__item">
            <div class="item__img">
              <img src="./img/popular-product-1.jpg" alt="Замок">
              <div class="content-on-img">
                <div class="content-on-img__up-container">
                  <div class="item__is-contain">
                    <div class="is-contain-icon">
                      <img loading="lazy" src="./img/check.svg" class="img-contain" width="20" height="20" alt="Галочка">
                    </div>
                    <p class="is-contain-text">В наличии</p>
                  </div>
                  <div class="item__sale">
                    <p class="sale-text">SALE</p>
                  </div>
                </div>
                <div class="item__gift">
                  <div class="gift-icon">
                    <img loading="lazy" src="./img/gift.svg" class="img-contain" width="12" height="12" alt="Подарок">
                  </div>
                  <p class="gift-text">Подарок</p>
                </div>
              </div>
            </div>
            <div class="item__text-content">
              <p class="item_title">Дверной Замок Golden Soft для отеля</p>
              <div class="item__cost-block">
                <p class="item__cost-value">33 000₽</p>
                <p class="item__cost-value old">37 000₽</p>
              </div>
            </div>
           </div>
        </div>
      </div>
      <div class="popular-product__swiper-nav">
        <div class="swiper-btn popular-product__swiper-btn-prev">
          <svg class="arrow-left-icon">
            <use xlink:href="img/sprite.svg#arrow-left"></use>
          </svg>
        </div>
        <div class="swiper-btn popular-product__swiper-btn-next">
          <svg class="arrow-right-icon">
            <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
