<section class="recall" id="recall">
  <div class="container">
    <div class="recall__container">
      <div class="recall_content">
        <h2 class="section-title">Мы Вам перезвоним</h2>
        <p class="recall-subtitle">Если у вас возникли какие-то вопросы или проблемы, заполните форму и мы Вам перезвоним.</p>
        <div class="recall-inputs">
          <input type="text" class="input-reset recall-input" placeholder="Ваше имя">
          <input type="email" class="input-reset recall-input" placeholder="Ваш Email">
          <button class="btn-reset recall-btn" data-popupId="modal">Отправить</button>
        </div>
      </div>
    </div>
  </div>
</section>
