<section class="stats">
  <div class="container">
    <div class="stats__container">
      <div class="stat">
        <p class="stat-count">5,567</p>
        <p class="stat-desc">Счастливых клиентов</p>
      </div>
      <div class="stat">
        <p class="stat-count">1245</p>
        <p class="stat-desc">Продуктов на выбор</p>
      </div>
      <div class="stat">
        <p class="stat-count">372</p>
        <p class="stat-desc">Продаж в день</p>
      </div>
      <div class="stat">
        <p class="stat-count">20</p>
        <p class="stat-desc">Продаж в день</p>
      </div>
    </div>
  </div>
</section>
